#code {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 100px;
  line-height: 100px;
  color: white;
  font-size: 24px;
  font-family: monospace;
  background: blueviolet;
  text-align: center;
  z-index: 9999;
}
